header {
    background-image: url(../assets/asset-1.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    color: $whiteShade;
    .main-text{
        display: flex;
        flex-direction: column;
        span {
                font-family: $mainFont, sans-serif;
                font-weight: bold;
                font-size: 100px;
                text-align: center;
                line-height: 26px;
                text-transform: uppercase;
                margin-top: 30px;
                @media (max-width: 460px) {
                    font-size: 85px;
                }
            }
    }
    .wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0px;
        // position: relative;
    }
    a:hover {
        color: $accentColor;
    }
    .socmed-nav {
        display: flex;
        justify-content: flex-end;
        // position: absolute;
        // right: -90px;
        // bottom: 25px;
        i {
            color: $backgroundColor;
        }
        i:hover {
            color: $accentColor;
        }
    }
    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-pages, .social-icons {
            display: flex;
            gap: 30px;
        }
        .hamburger {
            display: none;
        }
    }
}