.about-summit {
    .wrapper {
        padding: 80px 200px;
    }
}

.blog {
    background-color: $whiteShade;
    .wrapper {
        width: 100%;
        max-width: none;
        h4 {
            margin-bottom: 15px;
        }
        .first-article,.second-article {
            display: flex;
            align-items: center;
            .article-img {
                flex-basis: 50%;
            }
            .article-text {
                flex-basis: 50%;
                padding: 0px 100px;
            }
        }
        
    }
}

.icon-nav {
    background-color: $backgroundColor;
    .wrapper {
        padding: 80px 0px;
        ul {
            display: flex;
            justify-content: center;
            gap: 150px;
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
            i {
                font-size: 35px;
            }
        }
    }
}

.about-me {
    background-color: $whiteShade;
    padding: 80px 0px;
    .wrapper {
        display: flex;
        gap: 30px;
        .img-container {
            flex-basis: 28%;
        }
        .text-container {
            text-align: left;
            flex-basis: 72%;
            h3 {
                text-align: left;
                margin-top: 0;
            }
        }
    }
}

.gallery {
    padding: 80px 0px;
    .wrapper{
        ul {
            display: flex;
            gap: 30px;
        }
    }
}
