html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 29px;
}

nav a, button, input[type=submit] {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  line-height: 29px;
  text-transform: uppercase;
}

h1, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;
}

h2, h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

header {
  background-image: url(../assets/asset-1.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  color: #F6F6F6;
}
header .main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .main-text span {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 30px;
}
header .wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
}
header a:hover {
  color: #8DD7E9;
}
header .socmed-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header .socmed-nav i {
  color: #215A6D;
}
header .socmed-nav i:hover {
  color: #8DD7E9;
}
header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .main-nav .nav-pages, header .main-nav .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
header .main-nav .hamburger {
  display: none;
}

.about-summit .wrapper {
  padding: 80px 200px;
}

.blog {
  background-color: #F6F6F6;
}
.blog .wrapper {
  width: 100%;
  max-width: none;
}
.blog .wrapper h4 {
  margin-bottom: 15px;
}
.blog .wrapper .first-article, .blog .wrapper .second-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog .wrapper .first-article .article-img, .blog .wrapper .second-article .article-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.blog .wrapper .first-article .article-text, .blog .wrapper .second-article .article-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0px 100px;
}

.icon-nav {
  background-color: #215A6D;
}
.icon-nav .wrapper {
  padding: 80px 0px;
}
.icon-nav .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 150px;
}
.icon-nav .wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.icon-nav .wrapper ul i {
  font-size: 35px;
}

.about-me {
  background-color: #F6F6F6;
  padding: 80px 0px;
}
.about-me .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.about-me .wrapper .img-container {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}
.about-me .wrapper .text-container {
  text-align: left;
  -ms-flex-preferred-size: 72%;
      flex-basis: 72%;
}
.about-me .wrapper .text-container h3 {
  text-align: left;
  margin-top: 0;
}

.gallery {
  padding: 80px 0px;
}
.gallery .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

footer {
  background-color: #215A6D;
  color: #F6F6F6;
  text-align: left;
}
footer .recent-posts a {
  text-transform: none;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .wrapper .main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0px;
}
footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .copyright {
  background-color: #1D4052;
  margin: 0;
  padding: 10px 0px;
  text-align: center;
}
footer .contact p {
  margin: 0;
}
footer .footer-nav a {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}
footer .subscribe-form p {
  margin: 0px 0px 10px 0px;
}
footer .footer-subscribe {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
footer .footer-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer form input[type=email] {
  width: 100%;
  padding-left: 30px;
  font-family: "Noto Sans", sans-serif;
}

@media (max-width: 550px) {
  header .wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header .main-text {
    margin-top: 20vh;
  }
  header .main-nav .nav-pages {
    display: none;
  }
  header .main-nav .hamburger {
    display: inline-block;
    color: #F6F6F6;
    font-size: 32px;
  }
  header .socmed-nav {
    display: none;
  }

  main .about-me {
    padding: 60px 0px;
  }
  main .about-me .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about-me .wrapper .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .about-me .wrapper .text-container h3 {
    text-align: center;
    margin-bottom: 0;
  }
  main .gallery {
    padding: 0;
  }
  main .gallery .wrapper {
    width: 100%;
  }
  main .gallery .wrapper .gallery-photos {
    gap: 0;
  }
  main .gallery .wrapper .gallery-photos li:last-child {
    display: none;
  }
}
@media (max-width: 670px) {
  .about-summit .wrapper {
    padding: 60px 10px;
  }

  .icon-nav .wrapper {
    padding: 50px 0px;
  }
  .icon-nav .wrapper ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 45px;
  }
}
@media (max-width: 990px) {
  .blog .wrapper .first-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog .wrapper .first-article .article-text {
    padding: 60px 10px;
  }
  .blog .wrapper .second-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blog .wrapper .second-article .article-text {
    padding: 60px 10px;
  }

  footer .wrapper {
    text-align: center;
  }
  footer .wrapper .main-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 60px;
  }
  footer form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer form input[type=email] {
    text-align: center;
    padding: 13px 0px;
  }
  footer form input[type=submit] {
    text-align: center;
  }
  footer .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
button, input[type=submit] {
  background-color: #8DD7E9;
  border: none;
  padding: 10px 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #F6F6F6;
  text-decoration: none;
}

a:hover, button:hover {
  color: #8DD7E9;
}

button:hover, input[type=submit]:hover {
  color: #F6F6F6;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

h3, h4, h5 {
  margin: 0;
}

h3 {
  margin-bottom: 25px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}